* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  cursor: pointer;
}

h1, h2, p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(5deg, #6565e7, #af67e9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 2rem;
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 700px) {
  .container {
    max-width: 1440px;
  }
}

.card {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 700px) {
  .card {
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-image: none;
  }
}

.card__left {
  height: 100%;
}
@media only screen and (min-width: 700px) {
  .card__left {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: -560px -310px;
  }
}

.img-container {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 700px) {
  .img-container {
    margin-top: 50px;
    left: -70px;
  }
}

.main-img--mobile {
  display: block;
  position: absolute;
  max-width: 250px;
  margin: 0 auto;
  top: -100px;
  left: 10px;
}
@media only screen and (min-width: 700px) {
  .main-img--mobile {
    display: none;
  }
}

.main-img--desktop {
  max-width: 500px;
  display: block;
  top: 300px;
  clip-path: inset(0px 0px 0px 67px);
}
@media only screen and (max-width: 700px) {
  .main-img--desktop {
    display: none;
  }
}

.box-img--desktop {
  position: absolute;
  z-index: 3;
  top: 140px;
  left: -25px;
}
@media only screen and (max-width: 700px) {
  .box-img--desktop {
    display: none;
  }
}

.card__right {
  margin: 2rem;
}
@media only screen and (min-width: 700px) {
  .card__right {
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}
.card__right h1 {
  margin-top: 3rem;
  padding: 3rem 0 1rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
}
@media only screen and (min-width: 700px) {
  .card__right h1 {
    padding-top: 1rem;
    margin-top: 1rem;
    text-align: left;
  }
}
.card__right .accordian__section {
  padding: 0.5rem 0;
  border-bottom: #e7e7e9 1px solid;
}
@media only screen and (min-width: 700px) {
  .card__right .accordian__section {
    max-width: 400px;
  }
}
.card__right .question {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.card__right .question__content {
  color: #4a4b5e;
  text-align: left;
}
.card__right .question__content:hover {
  color: #f47c57;
}
.card__right .question--active {
  color: #1d1e35;
  font-weight: 700;
}
.card__right .question__arrow--active {
  transform: rotate(180deg);
}
.card__right .answer {
  color: #787887;
  padding-bottom: 1rem;
  display: none;
}

.attribution {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}
.attribution p {
  margin: 0 auto;
  color: #1d1e35;
}
.attribution a {
  color: #f47c57;
}

/*# sourceMappingURL=index.css.map */
